<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="com.softmodeler.ui.rcp.comp.UIRCPFactoryImpl"
            uri="http:///www.softmodeler.com/model/ui/comp/1.0.0">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.ImportHandler"
            id="softmodeler.cmd.importObject"
            name="%command.import">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.ExportHandler"
            id="softmodeler.cmd.exportObject"
            name="%command.export">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.NewCodeHandler"
            id="softmodeler.cmd.newCode"
            name="%command.newCode">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.RestartWithNewLoginHandler"
            id="softmodeler.cmd.restart"
            name="%command.restart">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.SwitchDomainHandler"
            id="softmodeler.cmd.switchDomain"
            name="%command.switchDomain">
      </command>      
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.ExportDatabaseHandler"
            id="softmodeler.cmd.exportDatabase"
            name="%command.exportDatabase">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.rcp.handler.ImportDatabaseHandler"
            id="softmodeler.cmd.importDatabase"
            name="%command.importDatabase">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.softmodeler.ui.rcp.views.CodeView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/Code.png"
            id="com.softmodeler.ui.view.code"
            name="%view.codes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.softmodeler.ui.rcp.views.CategoryView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/Category.png"
            id="com.softmodeler.ui.view.category"
            name="%view.categories"
            restorable="true">
      </view>
      <view
            class="com.softmodeler.ui.rcp.views.ViewsView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/View.png"
            id="com.softmodeler.ui.view.view"
            name="%view.views"
            restorable="true">
      </view>
      <view
            class="com.softmodeler.ui.rcp.views.PrintTemplateView"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/view16/Print.gif"
            id="com.softmodeler.ui.view.printTemplate"
            name="%view.printTemplates"
            restorable="true">
      </view>
      <view
            class="com.softmodeler.ui.rcp.views.NotificationDefinitionAdminView"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/view16/MailSetting.png"
            id="com.softmodeler.ui.rcp.views.NotificationDefinitionAdminView"
            name="%view.notificationDefinitions">
      </view>                        
      <view
            class="com.softmodeler.ui.rcp.views.ManageApplicationView"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/view16/Administration.png"
            id="com.softmodeler.ui.views.ManageApplicationView"
            name="%view.manageApplication">
      </view>            
   </extension>
   <extension
         point="com.softmodeler.ui.uiPartProvider">
      <provider
            class="com.softmodeler.ui.rcp.provider.part.ViewManagePageProvider"
            id="com.softmodeler.ui.editors.ViewManagePage">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="softmodeler.cmd.importObject"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/etool16/import.gif">
      </image>
      <image
            commandId="softmodeler.cmd.exportObject"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/etool16/export.gif">
      </image>
      <image
            commandId="softmodeler.cmd.exportDatabase"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/etool16/export.gif">
      </image>
      <image
            commandId="softmodeler.cmd.importDatabase"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/etool16/import.gif">
      </image>
      <image
            commandId="softmodeler.cmd.newCode"
            icon="platform:/plugin/com.softmodeler.ui/icons/full/view16/Add.gif">
      </image>
   </extension>
   <extension
         id="import"
         name="%extension.importApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.softmodeler.ui.rcp.application.ImportApplication">
         </run>
      </application>
   </extension>
   <extension
         point="com.softmodeler.common.applicationInfo">
      <applicationInfo
            applicationId="ImportApp">
         <map
               key="applicationNames">
            <mapElement
                  key="de"
                  value="Import-Applikation">
            </mapElement>
         </map>
      </applicationInfo>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
      	    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="org.eclipse.ui.part.previousPage"
            contextId="org.eclipse.ui.contexts.window"
            sequence="CTRL+ALT+ARROW_LEFT">
      </key>
      <key
      	    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="org.eclipse.ui.part.nextPage"
            contextId="org.eclipse.ui.contexts.window"
            sequence="CTRL+ALT+ARROW_RIGHT">
      </key>
   </extension>
   <extension
         point="com.softmodeler.ui.editorPage">
      <editorPage
            filter="HelpEntry"
            id="com.softmodeler.ui.editorPage.helpEntryPage"
            name="%editorPage.helpEntryPage"
            pageClass="com.softmodeler.ui.rcp.editors.HelpEntryPage">
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
            <sortHint
                  number="20">
            </sortHint>
         </editor>
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="20">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="HelpEntry"
            id="com.softmodeler.ui.editorPage.helpEntryPage.translator"
            name="%editorPage.helpEntryPage"
            pageClass="com.softmodeler.ui.rcp.editors.HelpEntryTranslator">
         <editor
               id="com.softmodeler.ui.editors.TranslationEditor">
            <sortHint
                  number="20">
            </sortHint>
         </editor>
      </editorPage>
   </extension>
   <extension
         point="com.softmodeler.common.runtime">
      <runtime
            base="com.softmodeler.ui.widget.BasicObjectTranslationControl"
            extension="com.softmodeler.ui.rcp.widget.BasicObjectTranslationControlExt">
      </runtime>
      <runtime
            base="com.softmodeler.ui.widget.DateWidget"
            extension="com.softmodeler.ui.rcp.widget.DateWidgetExt">
      </runtime>
      <runtime
            base="com.softmodeler.ui.widget.FileDialogWrapper"
            extension="com.softmodeler.ui.rcp.widget.FileDialogWrapperExt">
      </runtime>
      <runtime
            base="com.softmodeler.ui.widget.MultiSelectionField"
            extension="com.softmodeler.ui.rcp.widget.MultiSelectionFieldExt">
      </runtime>
      <runtime
            base="com.softmodeler.ui.widget.SingleSelectionField"
            extension="com.softmodeler.ui.rcp.widget.SingleSelectionFieldExt">
      </runtime>
      <runtime
            base="com.softmodeler.ui.UIResourceManager"
            extension="com.softmodeler.ui.rcp.UIResourceManagerImpl">
      </runtime>
      <runtime
            base="com.softmodeler.ui.LaunchManager"
            extension="com.softmodeler.ui.rcp.LaunchManagerImpl">
      </runtime>
   </extension>

</plugin>
